<!DOCTYPE html>
<html>
    <head>
        <title>Build A Blog!</title>
        <style type="text/css">
            h1 {
                background-color:#ddd;
                color:#888;
                margin:3px;
                height:50ps;
                padding: 5px;
            }

            footer {
                font-size: 8px;
                color: #bbb;
            }

        </style>
    </head>

    <body>
        <h1>
            <form method="post">Build A Blog.
                <div align="auto" >
                    <input type="submit" name="newpost" value="New Post">
                    <input type="submit" name="home" value="Home">
                </div>
            </form>
        </h1>

        {% block content %}
        {% endblock %}

    </body>
    <footer>
        <h1>Copyright Whoever</h1>
    </footer>
</html>
